.navbar-main {
    height: 60px;
    display: flex;
    background-color: #F1F1F1;
    align-items: center;
    padding-left: 5px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    border-bottom: rgb(119, 118, 118) 1px solid;
}
  
nav > .navbar-logo-link > .logo-container > #logo {
    width: 49px;
    height: 47px;
}

.navbar-logo-link > .logo-container > h5 {
    color: black;
}


.navbar-logo-link:hover {
    text-decoration: none;
}

.navbar-logo-link:visited {
    text-decoration: none;
}

.navbar-logo-link:active {
    text-decoration: none;
}

.navbar-logo-link:link {
    text-decoration: none;
}

.logo-container {
    order: 1;
    display: flex;
    align-items: center;
}

.logo-container > #logo-text {
    font-size: 20px;
    /* font-weight: bold; */
}

.icon-container {
    order: 2;
    display: flex;
    height: 47px;
    justify-content: space-between;
    align-items: center;
    flex-basis: 25%;
    margin-right: 5%;
}


.icon-container > .navbar-link >  #home-logo, #users-logo, #info-logo {
    height: 43px;
    width: 43px;
}


#home-logo:hover, #users-logo:hover, #info-logo:hover {
    transform: scale(1.1);

    /* add underline feature */
    /* border-bottom: 3px solid black; */
}

.profile-container {
    margin: 0;
    padding: 0;
    display: flex;
    align-self: center;
    order: 3;
    flex-basis: 5%;
    /* height: 40%; */

}


.profile-container > .dropdown > .btn > #profile-logo {
    height: 43px;
    width: 43px;
}

.dropdown-item {
    margin-left: auto;
    display: flex;
    letter-spacing: 1px;
    text-indent: 0.5rem;
}